<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Appetite</title>
		<%= stylesheet_link_tag		"application", media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>

		<header>
      <h1>
        <%= "Appetite" %>
      </h1>

      <nav>
        <%= link_to "Submit new", new_venue_path %>
        
      </nav>

    </header>

      
    <article>

      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>

      <%= yield %>
    </article>

	</body>
</html>
